<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Sprinter 3000 - Add new Story</title>
</head>
<body>

    <form method="post", action="post_story">
        <label>Story Title</label>
        <br>
        <input type="text" id="story_title" name="story_title" />
        <br>
        <label>User Story</label>
        <br>
        <input type="text" id="user_story" name="user_story"  />
        <br>
        <label>Acceptance Criteria</label>
        <br>
        <input type="text" id="acceptance_criteria" name="acceptance_criteria" />
        <br>
        <label>Business value</label>
        <br>
        <select type="number" id="business_value" name="business_value">
            <option>100</option>
            <option>200</option>
            <option>300</option>
            <option>400</option>
            <option>500</option>
            <option>600</option>
            <option>700</option>
            <option>800</option>
            <option>900</option>
            <option>1000</option>
            <option>1100</option>
            <option>1200</option>
            <option>1300</option>
            <option>1400</option>
            <option>1500</option>
        </select>
        <br>
        <label>Estimation</label>
        <br>
        <select type="number" id ="estimation" name="estimation">
            <option>100</option>
            <option>200</option>
            <option>300</option>
            <option>400</option>
            <option>500</option>
            <option>600</option>
            <option>700</option>
            <option>800</option>
            <option>900</option>
            <option>1000</option>
            <option>1100</option>
            <option>1200</option>
            <option>1300</option>
            <option>1400</option>
            <option>1500</option>
        </select>
        <br>
        <label>Status</label>
        <br>
        <select type="text" id="status" name="status">
            <option>Planning</option>
            <option>To Do</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select>
        <br>

        <input type="submit", value = "Save" />
    </form>




</body>
</html>